/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.main .page-header {
  margin-top: 0;
}

.viewpane {
  width: 100%;
  padding: 10px;
}

#nbterm-main .nav-pills > li.active > a {
  border-color: #93c54b;
  color: #93c54b;
  background-color: white;
}

.viewpane.terminal-view {
  height: 88vh;
}

.viewpane.notebook-view {
  height: 88vh;
  overflow-y: auto;
}

/*
 * Terminal styles
 */

#terminal-pane {
  padding: 5px;
  height: 100%;
}

.terminal {
  width: 100%;
  height: 90%;
  padding: 10px;
  color: black !important;
  background-color: white !important;
  border: none !important;
}

.terminal-cursor {
  color: #93c54b;
  background-color: #93c54b;
}

/*
 * Notebook Styles
 */
.nb-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}

.nb-panel.nb-control-panel {
  border-radius: 0px;
  border-bottom: .5px solid #eeeeee;
  margin-bottom: 25px;
}

.nb-control-panel .nb-actions {
  margin-bottom: -5px;
}

.nb-actions > .nb-action {
  /*margin-left: 10px;
  margin-right: 10px;*/
}

.nb-action.fa-stop {
  color: #d9534f;
}

.nb-action.fa-play {
  color: #93c54b;
}

.nb-out-label {
  color: #888888;
}

.nb-panel.nb-panel-executed {}

.nb-panel.nb-panel-active {
  border-left: 3px solid #93c54b;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.nb-panel .ace-cell {
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.nb-panel.nb-panel-executed .ace-cell {
  border-bottom-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
}

.nb-panel.nb-panel-markdown .ace-cell {
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.nb-panel .ace_editor {
  min-height: 100px;
}
.nb-panel .ace-scroller {
  margin: 5px;
}

.nb-output {
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nb-output-markdown {
  max-height: none;
  margin: 20px;
  font-size: 16pt;
}
