sudo: required
dist: trusty

language: python
python:
    - "2.7.12"

notifications:
    slack: rmacc:XuJOFyi7wxFivfqbHS6KDMSw

before_install:
    - export CHROME_BIN=chromium-browser
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 3
    - sudo apt-get update
    - sudo apt-get install -y libappindicator1 fonts-liberation
    - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    - sudo dpkg -i google-chrome*.deb


before_script:
    - npm install -g bower
    - pip install --upgrade pip

script:
    - export PROJECT_ROOT=$(pwd)
    - cd ~/build
    - wget https://github.com/SandstoneHPC/sandstone-ide/archive/master.zip
    - unzip master.zip
    - cd sandstone-ide-master
    - export SANDSTONE_PATH=$(pwd)
    - export PATH_FILE=/home/travis/virtualenv/python2.7.10/lib/python2.7/site-packages/sandstone.pth
    - echo $(pwd) > $PATH_FILE
    - pip install -r requirements.txt
    - cd sandstone/client
    - npm install

    - cd $PROJECT_ROOT
    - echo $(pwd) >> $PATH_FILE
    - pip install -r requirements.txt
    - cd sandstone_nbterm
    - bower install

    - cd $SANDSTONE_PATH
    - echo "INSTALLED_APPS = ('sandstone.lib', 'sandstone.apps.codeeditor', 'sandstone.apps.filebrowser', 'sandstone_nbterm')" > sandstone_settings.py
    - export SANDSTONE_SETTINGS=$SANDSTONE_PATH/sandstone_settings.py

    - cd sandstone/scripts
    - python run_server_tests.py
    - python run_client_tests.py

    - rm $PATH_FILE
    - cd $SANDSTONE_PATH
    - python setup.py install
    - cd $PROJECT_ROOT
    - python setup.py install
