<div
  class="panel nb-panel nb-panel-markdown"
  ng-class="{'nb-panel-executed':cell.editing,'nb-panel-active':cell.isActive}"
  ng-click="setActive(cell)"
  ng-init="cell.editing=!cell.hasExecuted">
  <div class="row">
    <div
      class="col-md-1 col-sm-2 hidden-xs"
      ng-hide="cell.hasExecuted&&!cell.editing">
      <h5 class="text-right nb-in-label">In [{{$index}}]:</h5>
    </div>
    <div
      class="col-md-11 col-sm-10"
      ng-hide="cell.hasExecuted&&!cell.editing">
      <div
        class="ace-cell"
        ui-ace="{
          mode: 'markdown',
          rendererOptions: {
            fontSize: '12pt',
            maxLines: Infinity,
            showGutter: false
          }
        }"
        ng-model="cell.input"></div>
    </div>
    <div
      class="col-md-12 col-sm-12"
      ng-show="cell.isActive&&cell.editing">
      <form class="form-inline pull-right" ng-click="$event.stopPropagation()">
        <div class="btn-group btn-group-sm" role="group">
          <button
            type="button"
            class="btn btn-default"
            tooltip-placement="top"
            tooltip="Run All Cells Above"
            ng-click="runAllCellsAbove(cell)">
            <i class="fa fa-forward"></i>
          </button>
          <button
            type="button"
            class="btn btn-default"
            tooltip-placement="top"
            tooltip="Run Cell"
            ng-click="runCell(cell)">
            <i class="fa fa-play"></i>
          </button>
          <div class="btn-group btn-group-sm" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
              More
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href ng-click="insertCellAbove(cell)">Insert Cell Above</a></li>
              <li><a href ng-click="insertCellBelow(cell)">Insert Cell Below</a></li>
              <li><a href ng-click="deleteCell(cell)">Delete Cell</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <select
            class="form-control input-sm"
            ng-options="type.id as type.name for type in cellTypes"
            ng-model="cell.type">
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-12 col-sm-12" ng-hide="!cell.hasExecuted&&!cell.isActive">
      <div
        class="nb-output nb-output-markdown"
        marked="cell.input">
      </div>
    </div>
    <div
      class="col-md-12 col-sm-12"
      ng-show="cell.isActive&&!cell.editing">
      <span
        class="pull-right"
        tooltip-placement="left"
        tooltip="Edit Cell"
        ng-click="cell.editing=!cell.editing;cell.hasExecuted=false">
        <i class="fa fa-pencil"></i>
      </span>
    </div>
  </div>
</div>
